html, body{
    height: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.can {
    user-select: none;
    margin: 0px auto;
    /* outline: solid 3px #25338d; */
    outline: solid 3px yellowgreen;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.gamepad {
    /* border: 1px solid red; */
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 8%;
    left: 4%;
    z-index: 1;
}

.btn {
    border-radius: 100px;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 8%;
    right: 4%;
    z-index: 1;
    opacity: 0.8;
    font-size: 25px;
    font-family: "Impact";
    touch-action: none;


    background-repeat: no-repeat;
    background-size: 50px 40px;
    background-image: url("shot.png");
    background-position: center;

}

.rbtn {
    border-radius: 100px;
    background-color: lightyellow;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 2%;
    right: 0%;
    z-index: 1;
    opacity: 0.8;
    font-size: 25px;
    font-family: "Impact";
    touch-action: none;
}

.fullbtn {
    border-radius: 100px;
    background-color: lightpink;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 2%;
    right: 35%;
    z-index: 1;
    opacity: 0.8;
    font-size: 25px;
    font-family: "Impact";
    touch-action: none;
}

.fullbtn2 {
    border-radius: 100px;
    background-color: lightgreen;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 2%;
    right: 72%;
    z-index: 1;
    opacity: 0.8;
    font-size: 25px;
    font-family: "Impact";
    touch-action: none;
}